<h2>Angular Cheat Sheet</h2>

<h3>CLI Commands</h3>

<form class="example-form" [formGroup]="formGroup">
  <!-- Type -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Type</mat-label>
    <!-- <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="type"
      > -->
    <mat-select formControlName="type">
      <mat-option *ngFor="let option of types" [value]="option.key">
        {{option.displayName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Name -->
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" #name matInput formControlName="name" autocomplete="off" (click)="name.select()">
  </mat-form-field>

  <!-- Skip Test -->
  <mat-checkbox *ngIf="f['type'].value !== 'module'" color="primary" formControlName="skipTests">Skip Tests</mat-checkbox>

  <!-- Lazy Loading Feature Modules -->
  <mat-checkbox *ngIf="f['type'].value === 'module'" color="primary" formControlName="lazyLoading">Lazy Loading</mat-checkbox>

</form>

<div class="code">
  <code> {{getCode()}} </code>
  <button [cdkCopyToClipboard]="copyToClipBoard(getCode())" (cdkCopyToClipboardCopied)="copied()" mat-icon-button color="primary" class="content-copy-btn">
    <mat-icon>content_copy</mat-icon>
  </button>
</div>
