<mat-list>
  <ng-container *ngFor="let item of menu">
    <!-- If the item doesn't have children show it as list item-->
    <ng-container *ngIf="!item.subMenu">
      <mat-list-item
        *ngIf="item.title"
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon *ngIf="item.icon" [style.color]="item.color" mat-list-icon>
          {{ item.icon }}
        </mat-icon>
        <mat-icon *ngIf="item.svgIcon" [svgIcon]="item.svgIcon" [style.color]="item.color" mat-list-icon></mat-icon>
        <div mat-line>{{ item.title }}</div>
      </mat-list-item>
    </ng-container>

    <!-- If the item has subMenu show it as accordion-->
    <ng-container *ngIf="item.subMenu && item.subMenu.length > 0">
      <mat-expansion-panel [expanded]="item.expanded">
        <mat-expansion-panel-header>
          <mat-panel-title class="d-flex align-items-center">
            <ng-container *ngIf="item.icon">
            <mat-icon [svgIcon]="item.icon" [style.color]="item.color" mat-list-icon>
              <!-- {{ item.icon }} -->
            </mat-icon></ng-container>
            <span mat-line class="list-item">{{ item.title }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <dh-menu-item [menu]="item.subMenu"></dh-menu-item>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>
</mat-list>
